<header class="hero_content">

  <!-- <div class="purple_circle"></div> -->

  <nav class="hero_nav">

    <div class="hero_nav_list">
      <div class="hero_landify"><a href="#"><img src="../img/svg/landify.svg" alt="logo"></a></div>
      <ul>
        <li class="hero_nav_item"><a href="#">Features</a></li>
        <li class="hero_nav_item"><a href="#">Pricing</a></li>
        <li class="hero_nav_item"><a href="#">Careers</a></li>
        <li class="hero_nav_item"><a href="#">Help</a></li>
      </ul>
    </div>


    <div class="hero_nav_vector btn_nav">
      <button class=" btn_vector btn_google">
        <!-- <img src="../img/pictures/Google-Play-logo.png" alt="google"> -->
      </button>
      <button class="btn_vector btn_apple">
        <!-- <img src="../img/pictures/Apple-logo.png" alt="apple"> -->
      </button>
    </div>


  </nav>

  <div class="hero_container">
    <div class="hero_wrapper">
      <h1 class="hero_title">The easiest way to manage projects</h1>
      <p class="hero_subtitle">From the small stuff to the big picture, organizes the work so teams know what to
        do, why it matters, and how to get it
        done.</p>

      <div class="hero_wrapper_btn">
        <div>
          <button class="hero_btn">Get Started</button>
        </div>
        <div>
          <a class="hero_link" href="#"><img src="../img/svg/icon-link-arrow.svg" alt="icon-link"> Watch
            Video</a>
        </div>
      </div>

    </div>
    <div class="hero_phone-mockup">
      <img class="" src="../img/pictures/phone-mockup.png" alt="phone mockup">
    </div>

    <div class="bg_band_1 band"><img src="../img/pictures/Left-Band-1.svg" alt=""></div>
    <div class="bg_band_2 band"><img src="../img/pictures/Left-Band-2.svg" alt=""></div>
    <div class="bg_band_3 band"><img src="../img/pictures/Left-Band-3.svg" alt=""></div>
    <div class="bg_band_4 band"><img src="../img/pictures/Left-Band-4.svg" alt=""></div>
    <div class="bg_band_5 band"><img src="../img/pictures/Left-Band-5.svg" alt=""></div>

  </div>

</header>